In [ ]:
import pandas as pd

In [ ]:
#carregando o csv
df = pd.read_csv("EVENTS.csv")

In [ ]:
#verificando valores nulos na coluna game_id
print(df['game_id'].isnull().sum()) # apenas para confirmar

343

In [ ]:
#substituindo valores nulos ou vazios por -1
df['game_id'] = df['game_id'].fillna(-1)

In [ ]:
#salvando novo CSV pronto pra importar
df.to_csv("events_clean.csv", index=False)

In [ ]:
df = pd.read_csv("events_clean.csv")
print(df)

      index  event_id  game_id  device_id  user_id               event_time
0         0         1      3.0          4       73  2021-06-11T02:07:04.000
1         1         2      3.0          5      141  2023-05-28T16:15:07.000
2         2         3      4.0          1       70  2023-08-31T13:28:50.000
3         3         4     -1.0          2      262  2020-06-18T17:50:41.000
4         4         5      1.0          2      340  2021-01-21T06:34:48.000
...     ...       ...      ...        ...      ...                      ...
1495   1495      1496      4.0          1      225  2022-12-17T22:48:18.000
1496   1496      1497      1.0          2      333  2022-04-19T03:50:09.000
1497   1497      1498      1.0          3       42  2021-10-13T02:10:40.000
1498   1498      1499      1.0          1      303  2022-07-01T09:38:06.000
1499   1499      1500      2.0          5      246  2023-02-27T01:47:40.000

[1500 rows x 6 columns]

In [ ]:
df['game_id'] = df['game_id'].astype(float).astype(int)

In [ ]:
df.to_csv("events_clean.csv", index=False)

In [ ]:
print(df['game_id'].unique())  # todos os valores devem aparecer como inteiros
print(df.dtypes)  # game_id deve estar como int64

[ 3  4 -1  1  2]
index          int64
event_id       int64
game_id        int64
device_id      int64
user_id        int64
event_time    object
dtype: object

In [ ]:
df = pd.read_csv("events_clean.csv")
print(df)

      index  event_id  game_id  device_id  user_id               event_time
0         0         1        3          4       73  2021-06-11T02:07:04.000
1         1         2        3          5      141  2023-05-28T16:15:07.000
2         2         3        4          1       70  2023-08-31T13:28:50.000
3         3         4       -1          2      262  2020-06-18T17:50:41.000
4         4         5        1          2      340  2021-01-21T06:34:48.000
...     ...       ...      ...        ...      ...                      ...
1495   1495      1496        4          1      225  2022-12-17T22:48:18.000
1496   1496      1497        1          2      333  2022-04-19T03:50:09.000
1497   1497      1498        1          3       42  2021-10-13T02:10:40.000
1498   1498      1499        1          1      303  2022-07-01T09:38:06.000
1499   1499      1500        2          5      246  2023-02-27T01:47:40.000

[1500 rows x 6 columns]

In [ ]:
df.to_csv("events_clean.csv", index=False)

In [ ]:
import pandas as pd

# Carregar o CSV original
games_df = pd.read_csv("GAMES.csv")

In [ ]:
# Criar o novo registro com game_id = -1
game_clean = pd.DataFrame([{
    "index": 999,  # ou o próximo número disponível
    "game_id": -1,
    "game_type": "unknown"
}])

In [ ]:
# Adicionar ao DataFrame original
games_df = pd.concat([games_df, game_clean], ignore_index=True)

In [ ]:
# Salvar como novo arquivo
games_df.to_csv("games_clean.csv", index=False)

In [ ]:
print(games_df)

   index  game_id game_type
0      0        1    biking
1      1        2    rowing
2      2        3   dancing
3      3        4   running
4    999       -1   unknown

In [ ]:
print(games_df['game_id'].value_counts())

game_id
 1    1
 2    1
 3    1
 4    1
-1    1
Name: count, dtype: int64